$accentColor = #3eaf7c
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34

.theme-container.userguides {
    img {
        border: solid 1px;
        max-width: 100%;
        height: auto;
        width: auto;
    }
}

.table-of-contents li {
    list-style: none;
    border-style: 2px black;
}

.theme-default-content:not(.custom) {
    max-width: 70%;
}